.App {
    text-align: center;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main_region {
    display: flex;
    height: 100%;
    max-width: 1300px;
    position: relative;
    margin: 0 auto;
    border: 1px solid  coral;
    border-top: none;
}

.panel_box_left {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    background-color: #990099;
    background-color: rgba(245, 245, 245, 1);
    align-items: center;
}

.panel_box_right {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgba(245, 245, 245, 1);
    align-items: flex-start;
    overflow-y: auto;
}
